<?xml version="1.0"?>
<configuration>
  <configSections>
    <section
      name="ReverseProxyConfiguration"
      type="ReverseProxy.ReverseProxyConfiguration, ReverseProxy, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
      allowLocation="true"
      allowDefinition="Everywhere"
    />
  </configSections>

  <system.web>
    <httpHandlers>
      <add verb="*" path="*.asmx" type="ReverseProxy.ReverseProxy, ReverseProxy"/>
    </httpHandlers>
    <customErrors mode="Off"/>
    <compilation debug="true"/>
  </system.web>

  <!-- Configuration section settings area. -->
  <ReverseProxyConfiguration requireAuthentication="false" requireSSL="false">
		<Mappings>
		  <add 
			  sourceURI="^/test/Service1.asmx" 
			  sourceRegexMatching="true" 
			  sourceIncludePost="true"
			  targetURI="http://localhost/Backend6xx/Memberships.asmx#query#" 
			  rewriteContent="Memberships"
			  />
		</Mappings>
		<RewriteGroups>
			<RewriteGroup id="Memberships">
				<Rewrite enableRegEx="false" match="Backend6xx/Memberships.asmx" replace="test/Service1.asmx"/>
				<Rewrite enableRegEx="false" match="Memberships.asmx" replace="Service1.asmx"/>
				<Rewrite enableRegEx="false" match="localhost/" replace="localhost:1178/"/>
			</RewriteGroup>
		</RewriteGroups>
	</ReverseProxyConfiguration>
</configuration>
