<?xml version="1.0"?>
<configuration>
  <configSections>
    <section
      name="ReverseProxyConfiguration"
      type="ReverseProxy.ReverseProxyConfiguration, ReverseProxy, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
      allowLocation="true"
      allowDefinition="Everywhere"
    />
  </configSections>

  <system.web>
    <httpHandlers>
      <add verb="*" path="*.asmx" type="ReverseProxy.ReverseProxy, ReverseProxy"/>
    </httpHandlers>
    <customErrors mode="Off"/>
    <compilation debug="true"/>
  </system.web>

  <!-- Configuration section settings area. -->
  <ReverseProxyConfiguration requireAuthentication="false" requireSSL="false">
    <Mappings>
      <add sourceURI="/Service1.asmx" targetURI="http://localhost:1264/Service1.asmx#query#" rewriteContent="true" useRegex="false" includePost="true" />
    </Mappings>
  </ReverseProxyConfiguration>

</configuration>
